*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
}
nav{
    max-width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: static;
    top: 0;
}
nav h2{
    color: yellow;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 20px;
}
nav ul li a{
    color: yellow;
    font-size: 15px;
    text-decoration: none;
}
/*header{
    background-color: orange;
    height: 60px;
    width: 100%;
    margin: 2% 5%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    position: sticky;
    top: 0;

}
nav{
    padding: 0px;
    position: relative;
    left: 500px;
    
}
.logo{
    color: yellow;
    font-size: 36px;
    text-decoration: none;
} 

header nav ul{
    white-space: nowrap;
    max-width: 500px;
    

}
header nav li{
    width: 25%;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 2px;
    
}
nav li a{
    text-decoration: none;
    color: yellow;
    margin: auto;
}*/

.heading1{
    size: 50px;
    font-weight: 500;
    margin: 2% 5%;
    text-align: center;
}
.paragraph{
    color: orange;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 16px;
    margin: 2% 5%;
    text-align: center;
}
.image img{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    width: 700px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 20px;
}